[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cupy = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
mpi4py = "*"
pandas = "*"
vsmodel = "*"
joblib = "*"
line-profiler = "*"
astropy = "*"
spacepy = "*"

[dev-packages]

[requires]
python_version = "3.6"
